In [1]:
import pandas as pd

In [2]:
#load each csv file from resources directory
oscar_csv = "Resources/the_oscar_award.csv"
oscar_df= pd.read_csv(oscar_csv)
oscar_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [17]:
oscar_df.count()

year_film        10395
year_ceremony    10395
ceremony         10395
category         10395
name             10395
film             10091
winner           10395
dtype: int64

In [19]:
oscar_cleaned_df = oscar_df.dropna(how='any')
oscar_cleaned_df.count()

year_film        10091
year_ceremony    10091
ceremony         10091
category         10091
name             10091
film             10091
winner           10091
dtype: int64

In [4]:
oscar_two_df = oscar_cleaned_df[['year_film', 'category', 'name', 'film', 'winner']]

oscar_two_df.head()

   year_film category                 name              film  winner
0       1927    ACTOR  Richard Barthelmess         The Noose   False
1       1927    ACTOR        Emil Jannings  The Last Command    True
2       1927  ACTRESS       Louise Dresser   A Ship Comes In   False
3       1927  ACTRESS         Janet Gaynor        7th Heaven    True
4       1927  ACTRESS       Gloria Swanson    Sadie Thompson   False

In [6]:
oscar_renamed = oscar_two_df.rename(columns={'year_film': 'Year',
                                             'category': 'Award Category',
                                             'name':'Nominee Name',
                                             'film' : 'Film',
                                             'winner': 'Win'})
oscar_renamed.head()

   Year Award Category         Nominee Name              Film    Win
0  1927          ACTOR  Richard Barthelmess         The Noose  False
1  1927          ACTOR        Emil Jannings  The Last Command   True
2  1927        ACTRESS       Louise Dresser   A Ship Comes In  False
3  1927        ACTRESS         Janet Gaynor        7th Heaven   True
4  1927        ACTRESS       Gloria Swanson    Sadie Thompson  False

In [7]:
oscar_renamed.dtypes

Year               int64
Award Category    object
Nominee Name      object
Film              object
Win                 bool
dtype: object

In [13]:
reduced_o = oscar_renamed[oscar_renamed['Year'] >= 1970]
reduced_o

,Year,Award Category,Nominee Name,Film,Win
4773,1970,ACTOR,Melvyn Douglas,I Never Sang for My Father,False
4774,1970,ACTOR,James Earl Jones,The Great White Hope,False
4775,1970,ACTOR,Jack Nicholson,Five Easy Pieces,False
4776,1970,ACTOR,Ryan O'Neal,Love Story,False
4777,1970,ACTOR,George C. Scott,Patton,True
...,...,...,...,...,...
10390,2019,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,2019,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,2019,HONORARY AWARD,David Lynch,NaN,True
10393,2019,HONORARY AWARD,Wes Studi,NaN,True
10394,2019,HONORARY AWARD,Lina Wertmüller,NaN,True

In [16]:
reduced_o.insert(0, 'Award Ceremony', 'Oscars')
reduced_o

,Award Ceremony,Year,Award Category,Nominee Name,Film,Win
4773,Oscars,1970,ACTOR,Melvyn Douglas,I Never Sang for My Father,False
4774,Oscars,1970,ACTOR,James Earl Jones,The Great White Hope,False
4775,Oscars,1970,ACTOR,Jack Nicholson,Five Easy Pieces,False
4776,Oscars,1970,ACTOR,Ryan O'Neal,Love Story,False
4777,Oscars,1970,ACTOR,George C. Scott,Patton,True
...,...,...,...,...,...,...
10390,Oscars,2019,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,Oscars,2019,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,Oscars,2019,HONORARY AWARD,David Lynch,NaN,True
10393,Oscars,2019,HONORARY AWARD,Wes Studi,NaN,True
10394,Oscars,2019,HONORARY AWARD,Lina Wertmüller,NaN,True

In [21]:
oscar_final_df = reduced_o
oscar_final_df

,Award Ceremony,Year,Award Category,Nominee Name,Film,Win
4773,Oscars,1970,ACTOR,Melvyn Douglas,I Never Sang for My Father,False
4774,Oscars,1970,ACTOR,James Earl Jones,The Great White Hope,False
4775,Oscars,1970,ACTOR,Jack Nicholson,Five Easy Pieces,False
4776,Oscars,1970,ACTOR,Ryan O'Neal,Love Story,False
4777,Oscars,1970,ACTOR,George C. Scott,Patton,True
...,...,...,...,...,...,...
10390,Oscars,2019,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,Oscars,2019,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,Oscars,2019,HONORARY AWARD,David Lynch,NaN,True
10393,Oscars,2019,HONORARY AWARD,Wes Studi,NaN,True
10394,Oscars,2019,HONORARY AWARD,Lina Wertmüller,NaN,True